In [70]:
import numpy as np
import pandas as pd

In [74]:
s=np.random.rand(5,4)

In [75]:
s

array([[0.92976227, 0.12462889, 0.46021639, 0.47636131],
       [0.77733933, 0.95759296, 0.17318277, 0.92255096],
       [0.339458  , 0.11577294, 0.62533066, 0.29515151],
       [0.28671299, 0.67710897, 0.68049657, 0.79950284],
       [0.9409106 , 0.66557815, 0.21097911, 0.80450337]])

In [79]:
aa=pd.DataFrame(s,index='A B C D E'.split(),columns='W X Y Z'.split())

In [80]:
aa

          W         X         Y         Z
A  0.929762  0.124629  0.460216  0.476361
B  0.777339  0.957593  0.173183  0.922551
C  0.339458  0.115773  0.625331  0.295152
D  0.286713  0.677109  0.680497  0.799503
E  0.940911  0.665578  0.210979  0.804503

In [85]:
aa[['W','Z']]

          W         Z
A  0.929762  0.476361
B  0.777339  0.922551
C  0.339458  0.295152
D  0.286713  0.799503
E  0.940911  0.804503

In [89]:
aa['new']=aa['Z']+aa['Y']

In [90]:
aa

          W         X         Y         Z       new
A  0.929762  0.124629  0.460216  0.476361  0.936578
B  0.777339  0.957593  0.173183  0.922551  1.095734
C  0.339458  0.115773  0.625331  0.295152  0.920482
D  0.286713  0.677109  0.680497  0.799503  1.479999
E  0.940911  0.665578  0.210979  0.804503  1.015482

In [94]:
aa.iloc[2]

W      0.339458
X      0.115773
Y      0.625331
Z      0.295152
new    0.920482
Name: C, dtype: float64

In [95]:
aa.shape

(5, 5)

In [100]:
aa[aa>1]

    W   X   Y   Z       new
A NaN NaN NaN NaN       NaN
B NaN NaN NaN NaN  1.095734
C NaN NaN NaN NaN       NaN
D NaN NaN NaN NaN  1.479999
E NaN NaN NaN NaN  1.015482

In [102]:
aa[aa['new']>1]

          W         X         Y         Z       new
B  0.777339  0.957593  0.173183  0.922551  1.095734
D  0.286713  0.677109  0.680497  0.799503  1.479999
E  0.940911  0.665578  0.210979  0.804503  1.015482

In [106]:
aa.reset_index()

  index         W         X         Y         Z       new
0     A  0.929762  0.124629  0.460216  0.476361  0.936578
1     B  0.777339  0.957593  0.173183  0.922551  1.095734
2     C  0.339458  0.115773  0.625331  0.295152  0.920482
3     D  0.286713  0.677109  0.680497  0.799503  1.479999
4     E  0.940911  0.665578  0.210979  0.804503  1.015482

In [107]:
aa.set_index('Y')

                 W         X         Z       new
Y
0.460216  0.929762  0.124629  0.476361  0.936578
0.173183  0.777339  0.957593  0.922551  1.095734
0.625331  0.339458  0.115773  0.295152  0.920482
0.680497  0.286713  0.677109  0.799503  1.479999
0.210979  0.940911  0.665578  0.804503  1.015482